
.container{
    padding-bottom: 100px;
}
.buy-now{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}
.see-all{
    text-decoration: none;
    padding: 5px 10px;
    color: orange;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.buy-now-button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    
}
.card-footer{
    border: none;
    border-top: none;
    text-align: center;
    background-color: white;
}
.box{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.top{
    margin-top: 100px;
}
.line{
    height: 8px;
    background-color: orange;
    width: 100px;
    border-radius: 20px;
    margin-left: 46%;
}